{% extends 'base.html' %}

{% block breadcrumb_list %}
    <ol class="breadcrumb">
        <li class="active">Dodaj użytkownika</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-12">
        <h1>Dodaj użytkownika</h1>
        <form method="post" role="form" class="form-horizontal">
            {% for field in form.visible_fields %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label for="div_{{ field.html_name }}" class="col-sm-2 control-label">
                        {{ field.label_tag }}{% if field.field.required %} *{% endif %}
                    </label>
                    <div id="div_{{ field.html_name }}" class="col-sm-3">
                        {{ field }}
                    </div>
                    <div class="text-muted pull-right">
                        <small>{{ field.help_text }}</small>
                    </div>
                    <div class="help-block">
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% csrf_token %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    {% if is_edit %}
                        Zapisz zmiany
                    {% else %}
                        Dodaj
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $(function() {
        var polish_letters = ['ą', 'ć', 'ę', 'ł', 'ń', 'ó', 'ś', 'ż', 'ź']
        var latin_letters = ['a', 'c', 'e', 'l', 'n', 'o', 's', 'z', 'z']
        $('#id_is_creator, #id_is_member').removeClass('form-control')
        $('#id_first_name, #id_last_name').focusout(function(){
            var fname = $('#id_first_name').val();
            var lname = $('#id_last_name').val();
            if(fname && lname) {
                var email = fname.toLowerCase()+'.'+lname.toLowerCase()+'@pwr.edu.pl';
                for(var i = 0; i < polish_letters.length; i++) {
                    var regex = new RegExp(polish_letters[i], "g");
                    email = email.replace(regex, latin_letters[i]);
                }
                $('#id_email').val(email);
            }
        });

    });
</script>
{% endblock %}
