{% extends 'base.html' %}

{% block breadcrumb_list %}
    <ol class="breadcrumb">
        <li><a href="{% url 'council_list' %}">Rady Wydziału</a></li>
        <li class="active">Dodaj radę</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-10">
    <h1>Utwórz Radę</h1>
    <form method="post" role="form" class="form-horizontal">
        {% for field in form.visible_fields %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="div_{{ field.html_name }}" class="col-sm-2 control-label">
                    {{ field.label_tag }}{% if field.field.required %} *{% endif %}
                </label>
                <div id="div_{{ field.html_name }}" class="col-sm-3">
                    {{ field }}
                </div>
                <div class="text-muted pull-right">
                    <small>{{ field.help_text }}</small>
                </div>
                <div class="help-block">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% csrf_token %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
    </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('#id_begin_date, #id_end_date').datetimepicker({
                locale: 'pl',
                sideBySide: true,
                format: "MM/YYYY"
            });
        });
    </script>
{% endblock %}
