{% extends 'base.html' %}

{% block breadcrumb_list %}
    <ol class="breadcrumb">
        <li><a href="{% url 'council_list' %}">Rady Wydziałów</a></li>
        <li><a href="{% url 'council_detail' meeting.council.pk %}">{{ meeting.council }}</a></li>
        <li class="active">{{ meeting }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-12">
        <h1>{{ meeting }}</h1>

        <table class="table table-bordered table-striped">
            <tr>
                <td><strong>Rada</strong></td>
                <td>{{ object.council }}</td>
            </tr>
            <tr>
                <td><strong>Data</strong></td>
                <td>{{ object.date|date:'d.m.Y' }}</td>
            </tr>
            <tr>
                <td><strong>Miejsce spotkania</strong></td>
                <td>{{ object.place }}</td>
            </tr>
        </table>

    <br>

        <ul class="nav nav-tabs bordered" role="tablist">
            <li role="presentation" class="active">
                <a href="#points" aria-controls="points" role="tab" data-toggle="tab">Punkty spotkania</a>
            </li>
            <li role="presentation">
                <a href="#attachments" aria-controls="attachments" role="tab" data-toggle="tab">Załączniki</a>
            </li>
            <li role="presentation">
                <a href="#invited" aria-controls="invited" role="tab" data-toggle="tab">Zaproszeni</a>
            </li>
        </ul>

        <div class="tab-content tab-content-bordered">
            <div role="tabpanel" class="tab-pane active" id="points">
                <h1>Punkty spotkania</h1>

                <a class="btn btn-primary" href="{% url 'add_point' meeting.pk %}">
                    <i class="fa fa-plus"></i> Dodaj punkt
                </a>

                <br><br>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Tytuł</th>
                        <th>Opis</th>
                        <th>Rodzaj sprawy</th>
                        <th>Tajne głosowanie</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for point in point_list %}
                        <tr>
                            <td>{{ point.title }}</td>
                            <td>{{ point.description }}</td>
                            <td>{{ point.category }}</td>
                            <td>
                                {% if point.is_secret %}Tak
                                {% else %}Nie
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'point_detail' point.pk %}">
                                    <button class="btn btn-default btn-info">Zobacz</button>
                                </a>
                                <a href="{% url 'point_update' point.pk %}">
                                    <button class="btn btn-default btn-warning">Edytuj</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="attachments">
                <h1>Załączniki</h1>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Nazwa pliku</th>
                        <th>Opis</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for att in attachment_list %}
                        <tr>
                            <td>{{ att.file.name }}</td>
                            <td>{{ att.description }}</td>
                            <td>
                                <a href="#">
                                    <button class="btn btn-default btn-success">Pobierz</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="invited">
                <h1>Zaproszeni na spotkanie Rady Wydziału</h1>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Tytuł/stopnień naukowy</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Adres e-mail</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for invited in invited_list %}
                        <tr>
                            <td>{{ invited.person.get_title_verbose }}</td>
                            <td>{{ invited.person.first_name }}</td>
                            <td>{{ invited.person.last_name }}</td>
                            <td>{{ invited.person.email }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



    </div>
{% endblock %}