{% extends 'base.html' %}
{% load user_tags %}

{% block breadcrumb_list %}
    <ol class="breadcrumb">
        <li><a href="{% url 'council_list' %}">Rady Wydziałów</a></li>
        <li><a href="{% url 'council_detail' meeting.council.pk %}">{{ meeting.council }}</a></li>
        <li class="active">{{ meeting }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-12">
        <h1>{{ meeting }}</h1>

        {% if user|has_group:"supervisor" %}
            <a href="{% url 'meeting_update' meeting.pk %}">
                <button class="btn btn-default btn-warning">Edytuj spotkanie</button>
            </a>

            <br><br>
        {% endif %}

        <table class="table table-bordered table-striped">
            <tr>
                <td><strong>Rada</strong></td>
                <td>{{ object.council }}</td>
            </tr>
            <tr>
                <td><strong>Data spotkania</strong></td>
                <td>{{ object.date|date:'d.m.Y' }}</td>
            </tr>
            <tr>
                <td><strong>Godzina spotkania</strong></td>
                <td>{{ object.date|date:'H:i' }}</td>
            </tr>
            <tr>
                <td><strong>Miejsce spotkania</strong></td>
                <td>{{ object.place }}</td>
            </tr>
        </table>

    <br>

        <ul class="nav nav-tabs bordered" role="tablist">
            <li role="presentation" class="active">
                <a href="#points" aria-controls="points" role="tab" data-toggle="tab">Punkty spotkania</a>
            </li>
            <li role="presentation">
                <a href="#attachments" aria-controls="attachments" role="tab" data-toggle="tab">Załączniki</a>
            </li>
            <li role="presentation">
                <a href="#invited" aria-controls="invited" role="tab" data-toggle="tab">Zaproszeni</a>
            </li>
        </ul>

        <div class="tab-content tab-content-bordered">
            <div role="tabpanel" class="tab-pane active" id="points">
                <h1>Punkty spotkania</h1>

                {% if is_invited %}
                    <a class="btn btn-primary" href="{% url 'add_point' meeting.pk %}">
                        <i class="fa fa-plus"></i> Dodaj punkt
                    </a>
                {% endif %}

                <a class="btn btn-warning" href="{% url 'invitation_letter' meeting.pk %}">
                    <i class="fa fa-envelope"></i> Pobierz zaproszenie
                </a>

                {% if user|has_group:"supervisor" %}
                    <a class="btn btn-success" href="{% url 'send_invitation' meeting.pk %}">
                        <i class="fa fa-envelope"></i> Wyślij zaproszenie
                    </a>
                {% endif %}

                <br><br>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Numer</th>
                        <th>Tytuł</th>
                        <th>Opis</th>
                        <th>Rodzaj sprawy</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for point in point_list %}
                        <tr>
                            <td>{{ point.number }}</td>
                            <td>{{ point.title }}</td>
                            <td>{{ point.description|truncatechars:100 }}</td>
                            <td>{{ point.category }}</td>
                            <td>
                                <a href="{% url 'point_detail' point.pk %}">
                                    <button class="btn btn-default btn-info">Zobacz</button>
                                </a>
                                {% if user|has_group:"supervisor" or user|is_point_owner:point.pk %}
                                    <a href="{% url 'point_update' point.pk %}">
                                        <button class="btn btn-default btn-warning">Edytuj</button>
                                    </a>
                                    <button class="btn btn-default btn-danger delete_btn" del_url="{% url 'point_delete' point.pk %}">Usuń</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="attachments">
                <h1>Załączniki</h1>

                <form action="{% url 'upload_meeting_attachment' meeting.pk %}" method="post" enctype="multipart/form-data" class="dropzone dropzone-tiny dz-clickable">
                    <div class="dz-default dz-message">
                        <div class="dropzone-preupload-title">
                            Drop files here or click to upload
                        </div>
                    </div>
                    {% csrf_token %}
                </form>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Nazwa pliku</th>
                        <th>Opis</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for att in attachment_list %}
                        <tr>
                            <td>{{ att.file.name }}</td>
                            <td>{{ att.description|truncatechars:100 }}</td>
                            <td>
                                <a href="#">
                                    <button class="btn btn-default btn-primary">Pobierz</button>
                                </a>
                                <a href="{% url 'attachment_update' att.pk %}">
                                    <button class="btn btn-default btn-warning">Edytuj</button>
                                </a>
                                <button class="btn btn-default btn-danger delete_btn" del_url="{% url 'attachment_delete' att.pk %}">Usuń</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="invited">
                <h1>Zaproszeni na spotkanie Rady Wydziału</h1>

                {% if user|has_group:"supervisor" %}
                    <a class="btn btn-primary" href="{% url 'invite_all_members' meeting.pk %}">
                        <i class="fa fa-plus"></i> Dodaj wszystkich członków Rady
                    </a>

                    <a class="btn btn-primary" href="{% url 'add_invited' meeting.pk %}">
                        <i class="fa fa-plus"></i> Zaproś
                    </a>

                    <a class="btn btn-warning" href="{% url 'attendance_list' meeting.pk %}">
                        <i class="fa fa-list"></i> Pobierz listę obecności
                    </a>

                    <br><br>
                {% endif %}

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="15%">Tytuł/stopnień naukowy</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Adres e-mail</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for invited in invited_list %}
                        <tr>
                            <td>{{ invited.person.get_title_verbose }}</td>
                            <td>{{ invited.person.first_name }}</td>
                            <td>{{ invited.person.last_name }}</td>
                            <td>{{ invited.person.email }}</td>
                            <td>
                                <button class="btn btn-default btn-danger delete_btn" del_url="{% url 'invited_delete' invited.pk %}">Usuń</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'council/delete_modal.html' %}

{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('.delete_btn').click(function (event) {
                event.preventDefault();
                var del_url = $(this).attr('del_url');
                $('#delete_link').attr('href', del_url);
                $('#modal-button').modal('show');
            });
        });
    </script>
{% endblock %}
