{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumb_list %}
    <ol class="breadcrumb">
        <li><a href="{% url 'council_list' %}">Rady Wydziału</a></li>
        <li><a href="{% url 'council_detail' object.meeting.council.pk %}">{{ object.meeting.council }}</a></li>
        <li><a href="{% url 'meeting_detail' object.meeting.pk %}">{{ object.meeting }}</a></li>
        <li class="active">{{ object }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-12">
        <h1>{{ object }}</h1>

        <table class="table table-bordered table-striped">
            <tr>
                <td><strong>Spotkanie</strong></td><td>{{ object.meeting.code }}</td>
            </tr>
            <tr>
                <td><strong>Opiekun</strong></td><td>{{ object.owner }}</td>
            </tr>
            <tr>
                <td><strong>Rodzaj sprawy</strong></td><td>{{ object.point_type }}</td>
            </tr>
            <tr>
                <td><strong>Tytuł</strong></td><td>{{ object.title }}</td>
            </tr>
            <tr>
                <td><strong>Opis</strong></td><td>{{ object.description }}</td>
            </tr>
            <tr>
                <td><strong>Tajne głosowanie</strong></td>
                <td>{% if point.is_secret %}Tak
                    {% else %}Nie
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>Małe kworum</strong></td>
                <td>{% if point.small_quorum %}Tak
                    {% else %}Nie
                    {% endif %}
                </td>
            </tr>
        </table>

        <br>

        <ul class="nav nav-tabs bordered" role="tablist">
            <li role="presentation" class="active">
                <a href="#attachments" aria-controls="attachments" role="tab" data-toggle="tab">Załączniki</a>
            </li>
            <li role="presentation">
                <a href="#votings" aria-controls="attachments" role="tab" data-toggle="tab">Głosowania</a>
            </li>
        </ul>

        <div class="tab-content tab-content-bordered">
            <div role="tabpanel" class="tab-pane active" id="attachments">
                <h1>Załączniki</h1>

                <form action="{% url 'upload_point_attachment' object.pk %}" method="post" enctype="multipart/form-data" class="dropzone dropzone-tiny dz-clickable">
                    <div class="dz-default dz-message">
                        <div class="dropzone-preupload-title">
                            Drop files here or click to upload
                        </div>
                    </div>
                    {% csrf_token %}
                </form>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Nazwa pliku</th>
                        <th>Opis</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for att in attachment_list %}
                        <tr>
                            <td>{{ att.file.name }}</td>
                            <td>{{ att.description|truncatechars:100 }}</td>
                            <td>
                                <a href="#">
                                    <button class="btn btn-default btn-primary">Pobierz</button>
                                </a>
                                <a href="{% url 'attachment_update' att.pk %}">
                                    <button class="btn btn-default btn-warning">Edytuj</button>
                                </a>
                                <button class="btn btn-default btn-danger delete_btn" del_url="{% url 'attachment_delete' att.pk %}">Usuń</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="votings">
                <h1>Głosowania</h1>

                <a class="btn btn-primary" href="{% url 'add_vote_outcome' object.pk %}">
                    <i class="fa fa-plus"></i> Dodaj głosowanie
                </a>
                <a class="btn btn-warning" href="#">
                    <i class="fa fa-plus"></i> Stwórz kartę do głosowania
                </a>

                <br><br>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Numer głosowania</th>
                            <th>Opis</th>
                            <th>Głosowanie publiczne</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for v in vote_outcome_list %}
                        <tr>
                            <td>{{ v.number }}</td>
                            <td>{{ v.description }}</td>
                            <td>{{ v.is_public|yesno:"Tak,Nie" }}</td>
                            <td>
                                <a href="{% url 'vote_update' v.pk %}">
                                    <button class="btn btn-default btn-warning">Edytuj</button>
                                </a>
                                <button class="btn btn-default btn-danger delete_btn" del_url="{% url 'vote_delete' v.pk %}">
                                    Usuń
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    {% include 'council/delete_modal.html' %}

{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('.delete_btn').click(function (event) {
                event.preventDefault();
                var del_url = $(this).attr('del_url');
                $('#delete_link').attr('href', del_url);
                $('#modal-button').modal('show');
            });
        });
    </script>
{% endblock %}